.search-bar {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px 0; /* Espacio en la parte superior e inferior */
  }
  
  .search-input {
    padding: 8px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-right: 5px; /* Espacio entre el input y el botón */
  }
  
  .search-button {
    padding: 10px 20px;
    background-color: #ff0000; /* Color de fondo del botón */
    color: #fff; /* Color del texto del botón */
    border: none;
    border-radius: 20px;
    cursor: pointer;
  }
  